@import "tailwindcss";

:root {
  /* メイン背景 */
  --background: #F7F5F2;

  /* 基本文字色 */
  --foreground: #393735;

  /* くすみピンク */
  --primary: #D0C0BC;

  /* サブ背景 */
  --secondary: #E5DEDA;

  /* 補助文字 */
  --muted: #8B7973;

  /* 境界線 */
  --border: #DED6D2;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);

  /* 日本語フォント */
  font-family: var(--font-noto), sans-serif;

  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* =========================
   英字見出し用フォント
========================= */

.font-editorial {
  font-family: var(--font-bodoni), serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

/* =========================
   日本語見出し用フォント
========================= */

.font-heading-ja {
  font-family: var(--font-noto), sans-serif;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.7;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(-18px) translateX(10px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes floatSlow {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(14px) translateX(-12px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

.animate-float {
  animation: float 7s ease-in-out infinite;
}

.animate-float-slow {
  animation: floatSlow 10s ease-in-out infinite;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 22s linear infinite;
}

.page-fade {
  animation: pageFade 0.8s ease;
}

@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.noise {
  background-image: url("/noise.png");
  opacity: 0.05;
  mix-blend-mode: overlay;
}