@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #f5f5f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(-18px) translateX(10px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes floatSlow {
  0% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(14px) translateX(-12px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

.animate-float {
  animation: float 7s ease-in-out infinite;
}

.animate-float-slow {
  animation: floatSlow 10s ease-in-out infinite;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 22s linear infinite;
}

.page-fade {
  animation: pageFade 0.8s ease;
}

@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.noise {
  background-image: url("/noise.png");
  opacity: 0.05;
  mix-blend-mode: overlay;
}